.big_box {
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.top {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 51px;
    width: 100%;
    align-items: start;
}

.input_area {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 82px;
    row-gap: 13px;
    width: max-content;
    height: 119px;
    flex-direction: column;
}

.status {
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

.status p {
    margin-top: 14px;
}

.bottom {
    width: 100%;
    justify-content: space-between;
}

.button {
    height: 51px;
    border-radius: 7px;
}

.button p {
    font-size: 16px;
}