/* ===> Important ===> */

:root {
    --primary: #FFCBEB;
    --secondary: #FFA7DF;
    --border: #E3BED5;
    --accent: #FFF0F9;
    --gray: #595959;
    --dark_pink: #FF6BC9;
}

@font-face {
    font-family: 'HermeneusOne';
    src: url('/fonts/HermeneusOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

p, h1, h2, input {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    color: var(--secondary);
}

/* <--- Important <--- */

/* ===> Useful ===> */

.extra_small_margin_top_fixed {
    margin-top: 12px;
}

.extra_small_margin_bottom_fixed {
    margin-bottom: 12px;
}

.small_margin_top {
    margin-top: 5vw;
}

.small_margin_top_fixed {
    margin-top: 37px;
}

.small_margin_bottom {
    margin-bottom: 5vw;
}

.small_margin_bottom_fixed {
    margin-bottom: 37px;
}

.small_margin_left {
    margin-left: 2.3vw;
}

.small_margin_right {
    margin-right: 2.3vw;
}

.small_margin {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.medium_margin_top {
    margin-top: 7.64vw;
}

.medium_margin_top_fixed {
    margin-top: 42px;
}

.medium_margin_bottom {
    margin-bottom: 7.64vw;
}

.medium_margin_bottom_fixed {
    margin-bottom: 42px;
}

.medium_margin {
    margin-top: 7.64vw;
    margin-bottom: 7.64vw;
}

.big_margin_top {
    margin-top: 15vw;
}

.big_margin_bottom {
    margin-bottom: 15vw;
}

.big_margin {
    margin-top: 15vw;
    margin-bottom: 15vw;
}

.small_text {
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    color: var(--gray);
}

.medium_text {
    font-size: 24px;
    font-weight: 700;
}

.pink_background {
    width: 100%;
    height: 500px;
    background-color: var(--accent);
}

.button, .square_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0px;
    border-radius: 30px;
    border-width: 1px;
    border-color: var(--border);
    border-style: solid;
    box-shadow: 2px 4px 4px #00000040;
    background-color: var(--secondary);
}

.button {
    width: 200px;
}

.square_button {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.button:hover, .square_button:hover {
    background-color: #FFA7DFE0;
    cursor: pointer;
}

.button:active, .square_button:active {
    box-shadow:
        inset -1px -1px 3px rgba(255, 255, 255, 0.6),
        inset 4px 4px 4px #00000040;
}

.button p, .square_button p {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.button img, .square_button img {
    height: 60%;
}

.big_box {
    width: 80.556%;
    height: 100%;
    box-shadow: 0 4px 4px #00000040;
    background-color: white;
    z-index: 1;
}

.input_area {
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.input_area div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: fit-content;
}

.input_area label {
    width: max-content;
}

.input_area label, .input_area small {
    font-family: "Istok Web";
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
}

.input_area small {
    display: block;
    width: 178px;
    margin-top: 7px;
    font-size: 13px;
}

.input_area span {
    font-size: 10px;
}

.input_area input {
    width: 218px;
    height: 30px;
    padding: 0;
    padding-left: 12px;
    border-width: 0;
    border-radius: 7px;
    box-shadow: inset 1px 1px 0 #ABABAB, inset -1px -1px 0 #ABABAB;
}

.input_area input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005C;
    z-index: 2;
}

.popup_box {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup {
    height: calc(39.6vw - 82px);
    width: calc(45.13vw - 112px);
    padding: 41px 56px 41px 56px;
    border-radius: 7px;
    background-color: white;
    z-index: 2;
}

/* <--- Useful <--- */

/* ===> Colors ===> */

.color_primary {
    color: var(--primary);
}

.color_secondary {
    color: var(--secondary);
}

.color_border {
    color: var(--border);
}

.color_accent {
    color: var(--accent);
}

.color_gray {
    color: var(--gray);
}

.color_text {
    color: var(--dark_pink);
}

.color_white {
    color: white;
}

.color_primary_bg {
    background-color: var(--primary);
}

.color_secondary_bg {
    background-color: var(--secondary);
}

.color_border_bg {
    background-color: var(--border);
}

.color_accent_bg {
    background-color: var(--accent);
}

.color_gray_bg {
    background-color: var(--gray);
}

.color_text_bg {
    background-color: var(--dark_pink);
}

.color_white_bg {
    background-color: white;
}

/* <--- Colors <--- */

.main_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    width: 100%;
    height: calc(7.2vw + 50.3px);
}

.filler {
    width: 100%;
    height: calc(7.2vw + 50.3px);
}

.header_div {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 71.4%;
}

.header_div div {
    display: flex;
    align-items: center;
    height: 100%;
}

.right_side {
    justify-content: end;
    width: 100%;
}

.logo {
    height: 100%;
}

.title {
    width: max-content;
    font-weight: 700;
    font-size: 36px;
    color: var(--dark_pink);
    margin-left: 2.3vw;
}

.login_button {
    width: 169px;
}

.login_button a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60%;
}

.login_button img {
    margin-left: 17px;
    height: 100%;
}

.sidebar_button {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar_button div {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 6px;
    width: 33px;
    height: 4px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - calc(7.2vw + 50.3px) - 52px);
}

.links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    width: 75vw;
    height: fit-content;
    margin: 7.64vw 0px;
}

.links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 13vw;
    border-radius: 10% 10% 0 10%;
    border-width: 2px;
    border-color: var(--border);
    box-shadow: 2px 6px 4px #00000040;
    background-color: var(--secondary);
    cursor: pointer;
}

.links a img {
    width: 6.5vw;
    margin-bottom: 1.25vw;
    transition: 500ms;
}

.links a:hover img {
    transform: scale(1.4, 1.4);
}

.links a p {
    width: 13vw;
    color: white;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
}

.imagens div {
    flex-direction: column;
}

.imagens div, .imagens div img {
    width: 445px;
}

.imagens div img {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.imagens div div {
    width: 100%;
    height: 32px;
    background-color: var(--primary);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.main_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background-color: var(--secondary);
}

.main_footer p {
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.grid_button {
    display: grid;
    grid-template-columns: auto auto;
    gap: 23px;
}

.grid_button a {
    border-radius: 7px;
}

.grid_button a p {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.perfil {
    flex-direction: column;
    position: absolute;
    background-color: var(--secondary);
    top: calc(7.2vw + 17.3px);
    right: 3%;
    width: 132px;
    height: 93px;
    padding: 13px 0 13px 0;
}

.perfil a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 44px;
}

.perfil a:hover {
    background-color: #FFFFFF1F;
}

.perfil div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88.9px;
}

.perfil img {
    width: 40px;
}

.perfil p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: white;
}

@media screen and (max-width: 999px) {
    .links {
        grid-template-columns: auto auto;
        row-gap: 40px;
        width: calc(53vw + 76.8px);
        margin: 7.64vw 0px;
    }
    
    .links a img {
        width: calc(9.5vw + 14.4px);
        margin-bottom: 2vw;
    }
    
    .links a {
        width: calc(21vw + 44.8px);
        height: calc(18.7vw + 31.6px);
    }
    
    .links a p {
        width: calc(21vw + 10px);
        font-size: calc(1.47vw + 3.93px);
    }
}

@media screen and (max-width: 1140px) {
    .header_div {
        flex-direction: row-reverse;
    }

    .right_side {
        justify-content: start;
    }

    .header_button {
        display: none;
    }

    .button, .square_button {
        height: 60px;
    }

    .button p, .square_button p {
        font-size: 21px;
    }

    .login_button {
        display: flex;
        width: 145px;
        margin-left: 2.3vw;
    }

    .login_button a {
        flex-direction: row-reverse;
    }

    .login_button img {
        margin-left: 0px;
        margin-right: 16px;
    }

    .sidebar_button {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .button, .square_button {
        height: 44px;
    }

    .button p, .square_button p {
        font-size: 15px;
    }

    .login_button {
        width: 105px;
    }

    .sidebar_button div {
        margin-bottom: 4px;
        width: 24px;
        height: 3px;
    }
}

/* ===> Overwriting ===> */

.inactive {
    display: none;
}

/* <--- Overwriting <--- */