<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>OsakaMed</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/icon.png}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='' th:href="@{/reset.css}">
        <link rel='stylesheet' href='' th:href="@{/osakamed_style.css}">
        <link rel='stylesheet' href='' th:href="@{/consultas-do-dia.css}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="realizar_popup_shadow" class="shadow inactive"></div>
        <div id="realizar_popup_box" class="popup_box inactive">
            <div id="realizar_popup" class="realizar popup">
                <h1>Por favor, dê a descrição sobre o que aconteceu e a necessidade do paciente</h1>
                <label for="descricao">Descrição da consulta:</label>
                <textarea name="descricao" id="descricao" placeholder="Conte em detalhes o que houve durante a consulta (sintomas do paciente, tratamento sugerido, medicamentos, exames...)."></textarea>
                <div>
                    <button id="enviar_descricao" class="button">
                        <p>ENVIAR DESCRIÇÃO</p>
                    </button>
                </div>
            </div>
        </div>

        <div id="perfil_popup_box" class="popup_box inactive"></div>
        <div id="perfil_popup" class="perfil popup inactive">
            <a href="perfil">
                <div>
                    <img th:src="@{/assets/perfil.png}" alt="">
                    <p>Perfil</p>
                </div>
            </a>
            <a id="perfil_sair">
                <div>
                    <img th:src="@{/assets/sair.png}" alt="">
                    <p>Sair</p>
                </div>
            </a>
        </div>

        <header class="main_header">
            <div class="header_div">
                <div class="left_side">
                    <a class="logo" href="/osakamed/">
                        <img class="logo" th:src="@{/assets/logo.png}" alt="">
                    </a>
                    <p class="title">Consultas do dia</p>
                </div>
                <div class="right_side">
                    <button class="square_button">
                        <img th:src="@{/assets/sino.png}" alt="">
                    </button>
                    <button id="perfil_popup_botao" class="small_margin_left square_button">
                        <img th:src="@{/assets/user.png}" alt="">
                    </button>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="pink_background small_margin_top medium_margin_bottom" style="height: 625px;">
                <div class="big_box">
                    <h2>Aqui estão todas as consultas do dia:</h2>
                    <div id="consultas_display" class="consultas_display"></div>
                </div>
            </div>
        </div>

        <footer class="main_footer">
            <p>OsakaMed | 2025 - © Todos os direitos reservados</p>
        </footer>
    </body>
    <script th:src="@{/consultas-do-dia.js}"></script>
    <script th:src="@{/popup_perfil.js}"></script>
</html>