<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>OsakaMed</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/icon.png}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='' th:href="@{/reset.css}">
        <link rel='stylesheet' href='' th:href="@{/osakamed_style.css}">
        <link rel='stylesheet' href='' th:href="@{/minhas-consultas.css}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="avaliar_popup_shadow" class="shadow inactive"></div>
        <div id="avaliar_popup_box" class="popup_box inactive">
            <div id="avaliar_popup" class="avaliar popup">
                <h1>Por favor, avalie nosso profissional e nos conte sua experiência</h1>
                <div class="estrelas">
                    <img th:src="@{/assets/estrela_rosa.png}" alt="">
                    <img th:src="@{/assets/estrela_rosa.png}" alt="">
                    <img th:src="@{/assets/estrela_rosa.png}" alt="">
                    <img th:src="@{/assets/estrela_branca.png}" alt="">
                    <img th:src="@{/assets/estrela_branca.png}" alt="">
                </div>
                <label for="">Feedback:</label>
                <textarea name="" id="" placeholder="Feedback..."></textarea>
                <div class="div_botao">
                    <button class="button">
                        <p>ENVIAR FEEDBACK</p>
                    </button>
                </div>
            </div>
        </div>
        <div id="descricao_popup_shadow" class="shadow inactive"></div>
        <div id="descricao_popup_box" class="popup_box inactive">
            <div id="descricao_popup" class="descricao popup">
                <h1>Descrição do médico em relação a consulta realizada</h1>
                <label id="nome_do_medico" for="">Descrição de:</label>
                <textarea readonly name="" id="descricao" placeholder="Descrição..."></textarea>
            </div>
        </div>

        <div id="perfil_popup_box" class="popup_box inactive"></div>
        <div id="perfil_popup" class="perfil popup inactive">
            <a href="perfil">
                <div>
                    <img th:src="@{/assets/perfil.png}" alt="">
                    <p>Perfil</p>
                </div>
            </a>
            <a id="perfil_sair">
                <div>
                    <img th:src="@{/assets/sair.png}" alt="">
                    <p>Sair</p>
                </div>
            </a>
        </div>

        <header class="main_header">
            <div class="header_div">
                <div class="left_side">
                    <a class="logo" href="/osakamed/">
                        <img class="logo" th:src="@{/assets/logo.png}" alt="">
                    </a>
                    <p class="title">Minhas consultas</p>
                </div>
                <div class="right_side">
                    <button class="square_button">
                        <img th:src="@{/assets/sino.png}" alt="">
                    </button>
                    <button id="perfil_popup_botao" class="small_margin_left square_button">
                        <img th:src="@{/assets/user.png}" alt="">
                    </button>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="pink_background small_margin_top medium_margin_bottom" style="height: 625px;">
                <div class="big_box">
                    <h2>Aqui está todas as consultas marcadas e realizadas:</h2>
                    <div id="consultas_display" class="consultas_display"></div>
                </div>
            </div>
        </div>

        <footer class="main_footer">
            <p>OsakaMed | 2025 - © Todos os direitos reservados</p>
        </footer>
    </body>
    <script th:src="@{/minhas-consultas.js}"></script>
    <script th:src="@{/popup_perfil.js}"></script>
</html>