<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>OsakaMed</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/icon.png}">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='' th:href="@{/reset.css}">
        <link rel='stylesheet' href='' th:href="@{/osakamed_style.css}">
        <link rel='stylesheet' href='' th:href="@{/minhas-avaliacoes.css}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="realizar_popup_shadow" class="shadow inactive"></div>
        <div id="realizar_popup_box" class="popup_box inactive">
            <div id="realizar_popup" class="realizar popup">
                <h1>Por favor, dê a descrição sobre o que aconteceu e a necessidade do paciente</h1>
                <label for="descrição">Descrição da consulta:</label>
                <textarea name="descrição" id="descrição" placeholder="Conte em detalhes o que houve durante a consulta (sintomas do paciente, tratamento sugerido, medicamentos, exames...)."></textarea>
                <div>
                    <button class="button">
                        <p>ENVIAR DESCRIÇÃO</p>
                    </button>
                </div>
            </div>
        </div>

        <div id="perfil_popup_box" class="popup_box inactive"></div>
        <div id="perfil_popup" class="perfil popup inactive">
            <a href="perfil">
                <div>
                    <img th:src="@{/assets/perfil.png}" alt="">
                    <p>Perfil</p>
                </div>
            </a>
            <a id="perfil_sair">
                <div>
                    <img th:src="@{/assets/sair.png}" alt="">
                    <p>Sair</p>
                </div>
            </a>
        </div>

        <header class="main_header">
            <div class="header_div">
                <div class="left_side">
                    <a class="logo" href="/osakamed/">
                        <img class="logo" th:src="@{/assets/logo.png}" alt="">
                    </a>
                    <p class="title">Minhas avaliações</p>
                </div>
                <div class="right_side">
                    <button class="square_button">
                        <img th:src="@{/assets/sino.png}" alt="">
                    </button>
                    <button id="perfil_popup_botao" class="small_margin_left square_button">
                        <img th:src="@{/assets/user.png}" alt="">
                    </button>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="pink_background small_margin_top medium_margin_bottom" style="height: 625px;">
                <div class="big_box">
                    <div class="avaliacoes_display">
                        <div class="avaliacao">
                            <div style="margin-bottom: 14px;">
                                <div class="imagem">
                                    <img src="/assets/perfil_padrao_medico.png" alt="">
                                    <div></div>
                                </div>
                                <div class="dados">
                                    <p>Nome...</p>
                                    <div class="estrelas">
                                        <img th:src="@{/assets/estrela_rosa.png}" alt="">
                                        <img th:src="@{/assets/estrela_rosa.png}" alt="">
                                        <img th:src="@{/assets/estrela_rosa.png}" alt="">
                                        <img th:src="@{/assets/estrela_branca.png}" alt="">
                                        <img th:src="@{/assets/estrela_branca.png}" alt="">
                                    </div>
                                </div>
                            </div>
                            <span>Ótimo profissional! Fui muito bem atendido(a), o médico demonstrou conhecimento e atenção durante a consulta. Explicou tudo com clareza e se mostrou prestativo. O atendimento foi eficiente, mas houve um pequeno atraso na consulta. No geral, recomendo e voltaria a consultar!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="main_footer">
            <p>OsakaMed | 2025 - © Todos os direitos reservados</p>
        </footer>
    </body>
    <script th:src="@{/minhas-avaliacoes.js}"></script>
    <script th:src="@{/popup_perfil.js}"></script>
</html>